<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet is needed for API calls and Glide image loading -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanMate"
        tools:targetApi="31">

        <!-- The app's launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Employee list screen -->
        <activity
            android:name=".activity.cleanerActivity.CleanerListActivity"
            android:exported="true"
            android:label="Cleaner List" />

        <!-- Employee details screen (if not just a dialog) -->
        <activity
            android:name=".activity.cleanerActivity.CleanerDetailsActivity"
            android:exported="true"
            android:label="Cleaner Details" />

        <!-- Cleaner feedback list -->
        <activity
            android:name=".activity.cleanerActivity.CleanerViewFeedbackActivity"
            android:exported="true"
            android:label="Feedback History" />
        <activity android:name=".activity.cleanerActivity.CleanPerHourActivity"
            android:exported="true"
            android:label="Clean Per Hours"/>

        <!-- Customer Profile Activity -->
        <activity
            android:name=".activity.CustomerProfileActivity"
            android:exported="true"
            android:label="Customer Profile" />

        <!-- Booking Activity -->
        <activity
            android:name=".activity.BookingActivity"
            android:exported="true"
            android:label="Booking" />

        <!-- Customer Voucher Activity -->
        <activity
            android:name=".activity.CustomerVoucherActivity"
            android:exported="true"
            android:label="Customer Voucher" />

        <!-- Customer Feedback Activity -->
        <activity
            android:name=".activity.CustomerFeedbackActivity"
            android:exported="true"
            android:label="Customer Feedback" />

    </application>
</manifest>
